<div class="container" style="margin-top: 10px;">
    <div class="row" >
        <div class="col-6" style="margin-bottom: 20px;" *ngFor="let u of roles|keyValueFilter">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar
                        style=" background: url('../../../../assets/angular.png'); background-size: contain; background-repeat: no-repeat;">
                    </div>
                    <mat-card-title style="position: relative;top: 15%;">{{u.Designation}}</mat-card-title>
                    <span class="example-spacer"></span>
                    <div style="position: relative; margin-top: -4px;">
                        <button  routerLink="update/{{u.id}}" mat-icon-button style="color:#0ea1eb">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button routerLink="delete/{{u.id}}" style="color:#0ea1eb">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <div style="margin-bottom: 20px;"></div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <div
                                style="position: relative; justify-content: center; align-items: center; margin-left: -15px;">
                                <div mat-card-avatar
                                    style=" background: url('../../../../assets/female_av.png'); background-size: contain; background-repeat: no-repeat;">
                                </div>

                            </div>
                            <span style="margin-left:15px"></span>
                            <div style="font-size: medium; margin-top: 5px;" *ngIf="u.isActive == true else loading">
                                Active role
                            </div>
                            <ng-template #loading>
                                Inactive
                            </ng-template>

                        </mat-list-item>
                        <mat-list-item>
                            <div
                                style="position: relative; justify-content: center; align-items: center; margin-left: -15px;">
                                <div mat-card-avatar
                                    style=" background: url('../../../../assets/female_av.png'); background-size: contain; background-repeat: no-repeat;">
                                </div>

                            </div>
                            <span style="margin-left:15px"></span>
                            <div style="font-size: medium; margin-top: 5px;" *ngIf="u.isEligible== true else loading">
                                Eligible to add students.
                            </div>
                            <ng-template #loading>
                                No eligibility found.
                            </ng-template>

                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
