<div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="addRoles()"
        style="background-color: white; margin-top: 10px; border-radius: 10px; padding: 10px;" class=" mat-elevation-z3"
        [style.margin-bottom]="'2px'">
        <div class="row" style="margin-top:10px; padding: 0px;">
            <div class="col-6">
                <mat-form-field style="width:100%" appearance="outline">
                    <mat-label for="Designation" style="font-size:medium; ">Role</mat-label>
                    <input required formControlName="Designation" minlength="3" id="Designation" matInput placeholder="CSE">
                    <mat-error *ngIf="Designation.hasError('required')">Please fill out the field.</mat-error>
                    <mat-error *ngIf="Designation.hasError('minlength')">Designation name should be atleast 3 Characters.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field style="width:100%" appearance="outline">
                    <mat-label for="isActive">Status</mat-label>
                    <mat-select required id="isActive" formControlName="isActive">
                        <mat-option value="1">Active</mat-option>
                        <mat-option value="0">Inactive</mat-option>
                    </mat-select>
                    <mat-error *ngIf="isActive.hasError('required')">Please choose a status</mat-error>
                </mat-form-field>
            </div>
            
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field style="width:100%" appearance="outline">
                    <mat-label for="isEligible">Eligibility</mat-label>
                    <mat-select required id="isEligible" formControlName="isEligible">
                        <mat-option value="1">Yes</mat-option>
                        <mat-option value="0">No</mat-option>
                    </mat-select>
                    <mat-error *ngIf="isEligible.hasError('required')">Please choose a status</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 align-self-center">
                <button mat-raised-button type="button" (click)="addRoles()" style="color: #0ea1eb;">
                    <mat-icon>done</mat-icon>
                    Submit
                </button>
            </div>
        </div>
    </form>

</div>