<img class="wave" src="../assets/images/wave2.png">
<div class="img">
    <img src="../assets/images/tree.svg">
</div>
<div class="container">
    <div class="login-content">
        <mat-stepper>
            <form [formGroup]="registerForm" (ngSubmit)="submit()">
                <mat-step label="Personal">
                    <div class="form">
                        <h1 class="form__title">Sign Up</h1>

                        <div class="form__div">
                            <input matInput type="text" id="firstName" required formControlName="firstName"
                                class="form__input" placeholder=" " required>
                            <label for="firstName" class="form__label">First Name</label>
                            <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger form__div">
                                <div *ngIf="firstName.errors?.['required']">Firstname is required.</div>
                                <div *ngIf="firstName.errors?.['minlength']">Firstname should be 8 character.</div>
                            </div>
                        </div>

                        <div class="form__div">
                            <input matInput type="text" id="lastName" required formControlName="lastName"
                                class="form__input" placeholder=" ">
                            <label for="lastName" class="form__label">Last Name</label>
                            <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger form__div">
                                <div *ngIf="lastName.errors?.['required']">Lastname is required.</div>
                                <div *ngIf="lastName.errors?.['minlength']">Lastname should be 8 character.</div>
                            </div>
                        </div>

                        <div class="form__div">
                            <input type="text" required id="userName" formControlName="userName" class="form__input"
                                placeholder=" ">
                            <label for="userName" class="form__label">User Name</label>
                            <div *ngIf="userName.touched && userName.invalid" class="alert alert-danger form__div">
                                <div *ngIf="userName.errors?.['required']">username is required.</div>
                                <div *ngIf="userName.errors?.['minlength']">username should be 8 character.</div>
                            </div>
                        </div>
                        <div class="form__div">
                            <input type="password" formControlName="password" required id="password" class="form__input"
                                placeholder=" ">
                            <label for="password" class="form__label">Password</label>
                            <div *ngIf="password.touched && password.invalid" class="alert alert-danger form__div">
                                <div *ngIf="password.errors?.['required']">Password is required.</div>
                                <div *ngIf="password.errors?.['minlength']">Password should be atleast 8 character.
                                </div>
                            </div>
                        </div>

                        <div class="form__div">
                            <input type="password" required class="form__input" formControlName="confpass"
                                placeholder=" " id="confpass">
                            <label for="confpass" class="form__label">Confirm Password</label>
                            <div *ngIf="confpass.touched && confpass.invalid " class="alert alert-danger form__div">
                                <div *ngIf="confpass.errors?.['required']">confirm password is required.</div>
                            </div>
                            <div class="alert alert-danger form__div" *ngIf="password.value != confpass.value">
                                Password Mismatch
                            </div>
                        </div>
                        <button mat-button matStepperNext class="form__button">Next</button>
                    </div>
                </mat-step>
                <mat-step label="Others">
                    <div action="" class="form">
                        <div class="form__div">
                            <input type="text" id="mobile" formControlName="phone" required class="form__input" placeholder=" " required>
                            <label for="phone" class="form__label">Mobile</label>
                            <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger form__div">
                                <div *ngIf="phone.errors?.['required']">Mobile number is required.</div>
                                <div *ngIf="phone.errors?.['maxlength']">Mobile number should not exceed 10 digits
                                </div>
                            </div>
                        </div>
                        <div class="form__div">
                            <input type="text" required class="form__input" required id="email" formControlName="email" placeholder=" ">
                            <label for="email" class="form__label">Email</label>
                            <div *ngIf="email.touched && email.invalid" class="alert alert-danger form__div">
                                <div *ngIf="email.errors?.['required']">Email is required.</div>
                                Please give a valid E-mail
                            </div>
                        </div>
                        <div class="form__div">
                            <input type="date" required formControlName="dob" class="form__input" placeholder=" ">
                            <label for="dob" class="form__label">DOB</label>
                            <div *ngIf="dob.touched && dob.invalid" class="alert alert-danger form__div">
                                <div *ngIf="dob.errors?.['required']">Date is required.</div>
                            </div>
                        </div>
                        <div class="form__div">
                            <input type="text" class="form__input" required formControlName="address" placeholder=" ">
                            <label for="address" class="form__label">Address</label>
                            <div *ngIf="address.touched && address.invalid" class="alert alert-danger form__div">
                                <div *ngIf="address.errors?.['required']">address is required.</div>
                            </div>
                        </div>

                        <div class="form__div">
                            <!-- <input type="text" class="form__input" placeholder=" "> -->
                            <select name="cars" type="text" style="padding: 5px; margin-left: 5px;" class="form__input"
                                formControlName="bloodgroup">
                                <option disabled selected>Blood Group</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                            <label for="bloodgroup" class="form__label">Blood Group</label>
                        </div>

                        <div style="display: flex; margin-left: 5px;">
                            <h3>Education:</h3>
                            <label for="chkYes" style="margin-top: 7px; margin-left: 10px;">
                                <input type="radio" id="chkYes" name="chkPassPort" />
                                UG
                            </label>
                            <label for="chkNo" style="margin-top: 7px; margin-left: 10px;">
                                <input type="radio" id="chkNo" name="chkPassPort" />
                                PG
                            </label>
                        </div>
                        <div id="dvug" style="display: none">
                            <div class="form__div">
                                <input type="text" formControlName="ug" class="form__input" placeholder=" ">
                                <label for="ug" class="form__label">UG</label>
                            </div>
                            <div class="form__div">
                                <input type="text" class="form__input" formControlName="sslc" placeholder=" ">
                                <label for="" class="form__label">10th</label>
                            </div>
                            <div class="form__div">
                                <input type="text" class="form__input" formControlName="hsc" placeholder=" ">
                                <label for="" class="form__label">12th</label>
                            </div>
                        </div>
                        <div id="dvpg" style="display: none">
                            <div class="form__div">
                                <input type="text" class="form__input" formControlName="pg" placeholder=" ">
                                <label for="pg" class="form__label">PG</label>
                            </div>
                            <div class="form__div">
                                <input type="text" class="form__input" formControlName="ug" placeholder=" ">
                                <label for="ug" class="form__label">UG</label>
                            </div>
                            <div class="form__div">
                                <input type="text" class="form__input" formControlName="hsc" placeholder=" ">
                                <label for="hsc" class="form__label">12th</label>
                            </div>
                        </div>
                        <button mat-button matStepperPrevious class="form__button1">Back</button>
                        <button mat-button  class="form__button2" type="button" (click)="submit()">Submit</button>
                    </div>
                </mat-step>
            </form>

        </mat-stepper>

    </div>





</div>