<div class="back container-fluid">
    <div class="row">
        <div class="col-6 ">
            <img class="img" src="../../../assets/bg.svg">
        </div>
        <div class="col-6 ">
            <div class="container-fluid login-content">
                <form>
                    <img src="../../../assets/avatar.svg">
                    <h2 class="title" style="font-family:'Poppins','san-serif'; margin-top: 30px;">Welcome</h2>
                    <div class="container">
                        <mat-form-field style="width:100%; margin-top: 40px;">
                            <mat-label style="margin-left: 30px; font-size: x-large;">Username</mat-label>
                            <mat-icon style="color: #0ea1eb;" matPrefix>person</mat-icon>
                            <input matInput style="margin-top: 13px;">
                        </mat-form-field>
                        <mat-form-field style="margin-top:30px; width:100%; ">
                            <mat-label style="margin-left: 30px; font-size: x-large;">Password</mat-label>
                            <mat-icon style="color: #0ea1eb;" matPrefix>lock</mat-icon>
                            <input matInput style="margin-top: 13px;">
                        </mat-form-field>
                    </div>
                    <a href="#">Forgot Password?</a>
                    <button mat-raised-button class="btn" >Login</button>
                    <button mat-raised-button class="btn">SignUp</button>
                </form>
            </div>
        </div>
    </div>
</div>