<div class="container-fluid" *ngIf="emps">
    <h2>{{emps.firstName | uppercase}} Details</h2>
    <div><span>Id: </span>{{emps.id}}</div>

  
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-6">
                <mat-form-field style="width:100%" appearance="outline">
                    <mat-label for="firstName" style="font-size:medium; ">First Name</mat-label>
                    <input type="text" [(ngModel)]="emps.firstName" id="firstName" matInput>
                </mat-form-field>

            </div>
            <div class="col-6">
                <mat-form-field style="width:100%" appearance="outline">
                    <mat-label for="lastName" style="font-size:medium; ">Last Name</mat-label>
                    <input type="text" [(ngModel)]="emps.lastName" id="lastName" matInput>

                </mat-form-field>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col-6">
                <mat-form-field style="width:100%" appearance="outline">
                    <mat-label for="userName" style="font-size:medium; ">User Name</mat-label>
                    <input type="text" [(ngModel)]="emps.userName" id="userName" matInput>

                </mat-form-field>

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field style="width:100%" appearance="outline">
                    <mat-label for="phone" style="font-size:medium; ">Phone</mat-label>
                    <input type="text" [(ngModel)]="emps.phone" id="phone" matInput>

                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field style="width:100%" appearance="outline">
                    <mat-label for="email" style="font-size:medium; ">Mail</mat-label>
                    <input [(ngModel)]="emps.email" type="email" id="email" matInput>

                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label for="role">Role</mat-label>
                    <!-- <input matInput [(ngModel)]="emps.role" type="text" id="role"> -->
                    <mat-select type="text" [(ngModel)]="emps.role" id="role">
                        <mat-option *ngFor="let u of roles|keyValueFilter" [value]="u.Designation">
                            {{u.Designation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label for="dept">Department</mat-label>
                    <mat-select type="text" [(ngModel)]="emps.dept" id="dept">
                        <mat-option *ngFor="let u of depts|keyValueFilter" [value]="u.deptName">
                            {{u.deptName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row justify-content-center my-5">
            <div class="col-2 ">
                <button mat-raised-button type="button" (click)="save()" style="color: #0ea1eb;">
                    <mat-icon>done</mat-icon>
                    Save
                </button>
            </div>
            <div class="col-2">
                <button mat-raised-button type="button" (click)="goBack()" style="color: #0ea1eb;">
                    <mat-icon>replay</mat-icon>
                    back
                </button>
            </div>
        </div>


        <div style="margin-bottom: 15px;"></div>
    </div>
</div>