img{
    height:150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.card{
    margin-top: 10px;
    width: fit-content;
    border-radius: 20px;
}
.example-spacer {
    flex: 1 1 auto;
  }

  .container{
      margin: auto ;
  }





