<div class="container" >
    <div class="row">
        <div class="col-3">
            <mat-card  class="card">
                <mat-card-title>
                    Sakata Gintoki
                </mat-card-title>
                <mat-card-subtitle>Owner</mat-card-subtitle>
                <mat-card-content>
                    <div class="content">
                        <img src="..//..//../assets/male_av.png">
                    </div>
                </mat-card-content>
        
                <mat-card-actions>
                    <div>
                        <button mat-button style="margin-left: 5px; color:#0ea1eb">
                            <mat-icon> call</mat-icon>
                            Call
                        </button>
                        <button mat-button style="margin-left: 30px;color:#0ea1eb">
                            <mat-icon>email</mat-icon>
                            Mail
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-3">
            <mat-card  class="card">
                <mat-card-title>Shimura Shinpachi</mat-card-title>
                <mat-card-subtitle>Assets</mat-card-subtitle>
                <mat-card-content>
                    <div class="content">
                        <img src="..//..//../assets/male_av.png">
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div>
                        <button mat-button style="margin-left: 5px; color:#0ea1eb">
                            <mat-icon> call</mat-icon>
                            Call
                        </button>
                        <button mat-button style="margin-left: 30px; color:#0ea1eb">
                            <mat-icon>email</mat-icon>
                            Mail
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-3">
            <mat-card class="card">
                <mat-card-title-group>
                    <mat-card-title>Kagura Yato</mat-card-title>
                    <mat-card-subtitle>Tactical</mat-card-subtitle>
                </mat-card-title-group>
                <mat-card-content>
                    <div class="content">
                        <img src="..//..//../assets/female_av.png">
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button style="margin-left: 5px; color:#0ea1eb">
                        <mat-icon> call</mat-icon>
                        Call
                    </button>
                    <button mat-button style="margin-left: 30px; color:#0ea1eb">
                        <mat-icon>email</mat-icon>
                        Mail
                    </button>
                </mat-card-actions>
            </mat-card>
    
        </div>
        <div class="col-3">
            <mat-card class="card">
                <mat-card-title-group>
                    <mat-card-title>Sadaharu</mat-card-title>
                    <mat-card-subtitle>Mascot</mat-card-subtitle>
                </mat-card-title-group>
                <mat-card-content>
                    <div class="content">
                        <img src="..//..//../assets/male_av.png">
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button style="margin-left: 5px; color:#0ea1eb">
                        <mat-icon> call</mat-icon>
                        Call
                    </button>
                    <button mat-button style="margin-left: 30px; color:#0ea1eb">
                        <mat-icon>email</mat-icon>
                        Mail
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
        
    
