<mat-drawer-container style="height: 100%; width: 100%;">
    <mat-drawer #drawer class="example-sidenav-content  mat-elevation-z3" style="background-color: #0ea1eb;" opened
        mode="side">
        <div style="margin-top: 100px; text-align: center;">
            <img src="..//..//../assets/male_av.png" style="width:100px;">
            <h1>Romesh!</h1><br>
            <button mat-raised-button routerLink="dep" color="primary"
                style="border-radius: 40px; color:#0ea1eb; background-color: white; width: 200px;">
                <span style="margin-right:-30px"></span>
                <mat-icon style="position: relative; align-self: flex-start;">library_books</mat-icon>
                <span style="margin-left: 20px;"></span>
                <mat-label>Departments</mat-label>
                <!-- <span >Departments</span> -->
            </button><br><br>
            <button mat-raised-button routerLink="roles" 
                style="border-radius: 40px; color:#0ea1eb; background-color: white; width: 200px;">
                <span style="margin-right:-95px;margin-left:40px"></span>
                <mat-icon >verified_user</mat-icon>
                <span ></span>
                <mat-label style="margin-left:40px;">Roles</mat-label>
                <!-- <span >Departments</span> -->
            </button><br><br>
            <button mat-raised-button routerLink="student" color="primary"
                style="border-radius: 40px; color:#0ea1eb; background-color: white; width: 200px;">
                <span style="margin-right: -40px; "></span>
                <mat-icon>school</mat-icon>
                <span style="margin-left:26px"></span>
                Students
            </button><br><br>
            <button mat-raised-button routerLink="employees" color="primary"
                style="border-radius: 40px; color:#0ea1eb; background-color: white; width: 200px;">
                <span style="margin-right:-45px"></span>
                <mat-icon>local_library</mat-icon>
                <span style="margin-left:30px"></span>
                Faculty
            </button><br><br>
            <button mat-raised-button routerLink="" color="primary"
                style="border-radius: 40px; color:#0ea1eb; background-color: white; width: 200px;">
                <span style="margin-left:-10px"></span>
                <mat-icon>local_activity</mat-icon>
                <span style="margin-left:60px; margin-right:-50px"></span>
                Students Corner
            </button><br><br>
            <button mat-raised-button routerLink="" color="primary"
                style="border-radius: 40px; color:#0ea1eb; background-color: white; width: 200px;">
                <span style="margin-left:-30px"></span>
                <mat-icon>contacts</mat-icon>
                <span style="margin-left:20px"></span>
                Contact Us
            </button><br><br>
            <button mat-raised-button routerLink="" color="primary"
                style="border-radius: 40px; color:#0ea1eb; background-color: white; width: 200px;">
                <span style="margin-left:-15px"></span>
                <mat-icon> clear_all</mat-icon>
                <span style="margin-left:50px; margin-right:-30px" ></span>
                Miscellaneous
            </button>
        </div>

    </mat-drawer>
    <mat-drawer-content style="height: 100%;">
        <mat-toolbar style="background-color: white;" class=" mat-elevation-z3" [style.margin-bottom]="'2px'">
            <mat-toolbar-row>
                <button mat-button (click)="!drawer.toggle()" mat-icon-button style="color:#0ea1eb"
                    class="example-icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <button mat-button (click)="go()">Reise</button>
                <span class="example-spacer"></span>
                <button mat-icon-button style="color:#0ea1eb">
                    <mat-icon>search</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu" style="color:#0ea1eb">
                    <mat-icon>person</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>My Profile</button>
                    <button mat-menu-item routerLink="" (click)="logout()">Sign Out</button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-toolbar style="background-color: white;" class=" top mat-elevation-z2">
            <mat-toolbar-row>
                <div style="margin-top: 150px;">
                    <img src="..//..//../assets/male_av.png">
                </div>
                <span style="margin-right: 10px;"></span>
                <div style="margin-top: 150px;">
                    <h1 style="font-size:40px;">Welcome back Romesh!</h1>
                    <button mat-icon-button disabled style="margin-top: 10px; color: darkgrey;">
                        <mat-icon>
                            notifications
                        </mat-icon>
                        You have 2 new tasks and {{message}} message.
                    </button>
                </div>
                <span class="example-spacer"></span>
                <div style="margin-top: 100px;">
                    <button mat-raised-button (click)="!drawer1.toggle()"
                        style="border-radius: 40px; background-color:#0ea1eb; color: white;">
                        <mat-icon>sms</mat-icon>
                        Messages
                    </button>
                    <span style="margin-left:5px;"></span>
                    <button mat-raised-button routerLink="tasks" color="primary"
                        style="border-radius: 40px; background-color:#0ea1eb; color: white;">
                        <mat-icon>create</mat-icon>
                        Task
                    </button>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <app-shared> </app-shared>
    </mat-drawer-content>
    <mat-drawer #drawer1 class="example-sidenav-content  mat-elevation-z3" mode="side" position="end">
    </mat-drawer>
</mat-drawer-container>