<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-6"*ngFor="let u of tasks|keyValueFilter">
            <mat-card>
                <mat-card-header>
                    <mat-card-title style="position: relative;top: 15%;">{{u.id}}</mat-card-title>
                    <span class="example-spacer"></span>
                    <div style="position: relative; margin-top: -4px;">
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <div style="margin-bottom: 20px;"></div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <span style="margin-left:15px"></span>
                            <div style="margin-top: 5px;">Task assigned from {{u.from}} to {{u.assignto}}</div>

                        </mat-list-item>
                        <mat-list-item>
                            <span style="margin-left:15px"></span>
                            <div style="margin-top: 5px;">Dated: {{u.due}}</div>
                        </mat-list-item>
                        <mat-list-item>
                            <span style="margin-left:15px"></span>
                            <div style="margin-top: 5px;">Comments: {{u.comments}}</div>
                        </mat-list-item>
                        
                        <mat-list-item>
                            <span style="margin-left:15px"></span>
                            <div style="margin-top: 5px;">Status: {{u.status}}</div>
                        </mat-list-item>
                        
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div style="margin-bottom: 15px;"></div>
</div>
