<!-- <div style="height:10%">
            <mat-card style="display:flex; flex-direction:row; position:relative;">
                <mat-card-title style="margin-top: 13px; margin-left: 10px;">4 Teams</mat-card-title>
                <span class="example-spacer"></span>
                <button mat-fab color="primary" style=" position: relative; margin-top: -4px;" >
                    <mat-icon>add_box</mat-icon>
                </button>

            </mat-card>
        </div> -->
<div class="container" style="margin-top: 20px;">
    <form [formGroup]="registerForm" (ngSubmit)="create()">
        <div class="row">
            <div class="col-6">
                <mat-form-field style="width:100%" appearance="outline">
                    <mat-label for="firstName" style="font-size:medium; ">First Name</mat-label>
                    <input required formControlName="firstName" minlength="8" id="firstName" matInput
                        placeholder="John">
                    <mat-error *ngIf="firstName.hasError('required')">Please fill out the field.</mat-error>
                    <mat-error *ngIf="firstName.hasError('minlength')">First name should be atleast 8
                        Characters.</mat-error>
                </mat-form-field>

            </div>
            <div class="col-6">
                <mat-form-field style="width:100%" appearance="outline">
                    <mat-label for="lastName" style="font-size:medium; ">Last Name</mat-label>
                    <input required formControlName="lastName" minlength="8" id="lastName" matInput placeholder="wick">
                    <mat-error *ngIf="lastName.hasError('required')">Please fill out the field.</mat-error>
                    <mat-error *ngIf="lastName.hasError('minlength')">Last name should be atleast 8
                        Characters.</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col-6">
                <mat-form-field style="width:100%" appearance="outline">
                    <mat-label for="userName" style="font-size:medium; ">User Name</mat-label>
                    <input required formControlName="userName" minlength="8" id="userName" matInput
                        placeholder="John117">
                    <mat-error *ngIf="userName.hasError('required')">Please fill out the field.</mat-error>
                    <mat-error *ngIf="userName.hasError('minlength')"> User name should be atleast 8
                        Characters.</mat-error>
                </mat-form-field>

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field style="width:100%" appearance="outline">
                    <mat-label for="phone" style="font-size:medium; ">Phone</mat-label>
                    <input required formControlName="phone" minlength="10" maxlength="10" id="phone" matInput
                        placeholder="928457xxxx">
                    <mat-error *ngIf="phone.hasError('required')">Please fill out the field.</mat-error>
                    <mat-error *ngIf="phone.hasError('minlength')">Phone number should be atleast 10
                        Numbers.</mat-error>
                    <mat-error *ngIf="phone.hasError('maxlength')">Phone Number should be atleast 10
                        Numbers.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field style="width:100%" appearance="outline">
                    <mat-label for="email" style="font-size:medium; ">Mail</mat-label>
                    <input required formControlName="email" type="email"  id="email" matInput
                        placeholder="abc@xyz.com">
                    <mat-error *ngIf="email.hasError('required')">Please fill out the field.</mat-error>
                    <mat-error *ngIf="email.hasError('email')">Please give a valid mail.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="dept_id">
                      <mat-option *ngFor="let u of depts|keyValueFilter" [value]="u.id">
                        {{u.deptName}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="dept_id.hasError('required')">Please select the field.</mat-error>
                  </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Roles</mat-label>
                    <mat-select formControlName="role">
                      <mat-option *ngFor="let u of roles|keyValueFilter" [value]="u.Designation">
                        {{u.Designation}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="role.hasError('required')">Please select the field.</mat-error>
                  </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-2 ">
                <button  mat-raised-button type="button" (click)="create()" style="color: #0ea1eb;">
                    <mat-icon>done</mat-icon>
                    Submit
                </button>
            </div>
        </div>

    </form>
    <div style="margin-bottom: 15px;"></div>
</div>