<!-- <div style="height:10%">
            <mat-card style="display:flex; flex-direction:row; position:relative;">
                <mat-card-title style="margin-top: 13px; margin-left: 10px;">4 Teams</mat-card-title>
                <span class="example-spacer"></span>
                <button mat-fab color="primary" style=" position: relative; margin-top: -4px;" >
                    <mat-icon>add_box</mat-icon>
                </button>

            </mat-card>
        </div> -->
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-6">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar
                        style=" background: url('../../../../assets/angular.png'); background-size: contain; background-repeat: no-repeat;">
                    </div>
                    <mat-card-title style="position: relative;top: 15%;">Angular</mat-card-title>
                    <span class="example-spacer"></span>
                    <div style="position: relative; margin-top: -4px;">
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <div style="margin-bottom: 20px;"></div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <div
                                style="position: relative; justify-content: center; align-items: center; margin-left: -15px;">
                                <div mat-card-avatar
                                    style=" background: url('../../../../assets/female_av.png'); background-size: contain; background-repeat: no-repeat;">
                                </div>

                            </div>
                            <span style="margin-left:15px"></span>
                            <div style="font-size: medium; margin-top: 5px;">Caitlin Snow</div>

                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar
                        style=" background: url('../../../../assets/react.png'); background-size: contain; background-repeat: no-repeat;">
                    </div>
                    <mat-card-title style="position: relative;top: 15%;">React</mat-card-title>
                    <span class="example-spacer"></span>
                    <div style="position: relative; margin-top: -4px;">
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <div style="margin-bottom: 20px;"></div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <div
                                style="position: relative; justify-content: center; align-items: center; margin-left: -15px;">
                                <div mat-card-avatar
                                    style=" background: url('../../../../assets/male_av.png'); background-size: contain; background-repeat: no-repeat;">
                                </div>

                            </div>
                            <span style="margin-left:15px"></span>
                            <div style="font-size: medium; margin-top: 5px;">Barry Allen</div>

                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div style="margin-bottom: 15px;"></div>
    <div class="row">
        <div class="col-6">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar
                        style=" background: url('../../../../assets/node.png'); background-size: contain; background-repeat: no-repeat;">
                    </div>
                    <mat-card-title style="position: relative;top: 15%;">Node</mat-card-title>
                    <span class="example-spacer"></span>
                    <div style="position: relative; margin-top: -4px;">
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <div style="margin-bottom: 20px;"></div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <div
                                style="position: relative; justify-content: center; align-items: center; margin-left: -15px;">
                                <div mat-card-avatar
                                    style=" background: url('../../../../assets/male_av.png'); background-size: contain; background-repeat: no-repeat;">
                                </div>

                            </div>
                            <span style="margin-left:15px"></span>
                            <div style="font-size: medium; margin-top: 5px;">Wally West</div>

                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar
                        style=" background: url('../../../../assets/mongo.png'); background-size: contain; background-repeat: no-repeat;">
                    </div>
                    <mat-card-title style="position: relative;top: 15%;">MongoDB</mat-card-title>
                    <span class="example-spacer"></span>
                    <div style="position: relative; margin-top: -4px;">
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <div style="margin-bottom: 20px;"></div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <div
                                style="position: relative; justify-content: center; align-items: center; margin-left: -15px;">
                                <div mat-card-avatar
                                    style=" background: url('../../../../assets/female_av.png'); background-size: contain; background-repeat: no-repeat;">
                                </div>

                            </div>
                            <span style="margin-left:15px"></span>
                            <div style="font-size: medium; margin-top: 5px;">Linda Martin</div>

                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div style="margin-bottom: 15px;"></div>
</div>