<button mat-raised-button (click)="openDialog()" color="primary" style="border-radius: 40px; background-color:#0ea1eb; color: white; margin-top: 10px; margin-left: 10px;">
    <mat-icon>add</mat-icon>
    Add
</button>
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-6">
            <mat-card >
                <mat-card-header>

                    <mat-card-title style="position: relative;top: 15%;">You have recived Mail</mat-card-title>
                    <span class="example-spacer"></span>
                    <div style="position: relative; margin-top: -4px;">
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <div style="margin-bottom: 20px;"></div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <span style="margin-left:15px"></span>
                            <div style="font-size: medium; margin-top: 5px;">2 Mail from Africa</div>

                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card>
                <mat-card-header>

                    <mat-card-title style="position: relative;top: 15%;">Update</mat-card-title>
                    <span class="example-spacer"></span>
                    <div style="position: relative; margin-top: -4px;">
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <div style="margin-bottom: 20px;"></div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <span style="margin-left:15px"></span>
                            <div style="font-size: medium; margin-top: 5px;">New Assignment coming soon</div>

                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div style="margin-bottom: 15px;"></div>
    <div class="row">
        <div class="col-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title style="position: relative;top: 15%;">Important</mat-card-title>
                    <span class="example-spacer"></span>
                    <div style="position: relative; margin-top: -4px;">
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <div style="margin-bottom: 20px;"></div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <span style="margin-left:15px"></span>
                            <div style="font-size: medium; margin-top: 5px;">Submit Record from tomorrow</div>

                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card>
                <mat-card-header>

                    <mat-card-title style="position: relative;top: 15%;">Reminder</mat-card-title>
                    <span class="example-spacer"></span>
                    <div style="position: relative; margin-top: -4px;">
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <div style="margin-bottom: 20px;"></div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <span style="margin-left:15px"></span>
                            <div style="font-size: medium; margin-top: 5px;">You have pending 2 Assignment complet soon</div>

                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div style="margin-bottom: 15px;"></div>
</div>
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-6">
            <mat-card>
                <mat-card-header>

                    <mat-card-title style="position: relative;top: 15%;">You have recived Mail</mat-card-title>
                    <span class="example-spacer"></span>
                    <div style="position: relative; margin-top: -4px;">
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <div style="margin-bottom: 20px;"></div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <span style="margin-left:15px"></span>
                            <div style="font-size: medium; margin-top: 5px;">2 Mail from Africa</div>

                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card>
                <mat-card-header>

                    <mat-card-title style="position: relative;top: 15%;">Update</mat-card-title>
                    <span class="example-spacer"></span>
                    <div style="position: relative; margin-top: -4px;">
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <div style="margin-bottom: 20px;"></div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <span style="margin-left:15px"></span>
                            <div style="font-size: medium; margin-top: 5px;">New Assignment coming soon</div>

                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div style="margin-bottom: 15px;"></div>
    <div class="row">
        <div class="col-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title style="position: relative;top: 15%;">Important</mat-card-title>
                    <span class="example-spacer"></span>
                    <div style="position: relative; margin-top: -4px;">
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button style="color:#0ea1eb">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <div style="margin-bottom: 20px;"></div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <span style="margin-left:15px"></span>
                            <div style="font-size: medium; margin-top: 5px;">Submit Record from tomorrow</div>

                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card>
                <mat-card-header>

                    <mat-card-title style="position: relative;top: 15%;">Reminder</mat-card-title>
                    <span class="example-spacer"></span>
                    <div style="position: relative; margin-top: -4px;">
                        <button mat-icon-button style="color:#0ea1eb" >
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button style="color:#0ea1eb" >
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <div style="margin-bottom: 20px;"></div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <span style="margin-left:15px"></span>
                            <div style="font-size: medium; margin-top: 5px;">You have pending 2 Assignment complet soon</div>

                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div style="margin-bottom: 15px;"></div>
</div>
